.npm/
build/*
build/build/*
!build/build/phaker.js
!build/build/phaker.min.js
doc/
examples/
meteor/
test/
logo.png
reports/
.coveralls.yml
.git*
.jsdoc.json
.jshintignore
.jshintrc
.nyc_output/
docs/
gulpfile.js
dist/
phaker.js-*.tgz
CNAME
